{:deps {org.clojure/clojure {:mvn/version "1.12.3"}
        clj-http/clj-http {:mvn/version "3.13.1"}
        org.clojure/data.json {:mvn/version "2.5.1"}}
 :paths ["src"]
 :aliases {:run {:main-opts ["-m" "termagent.core"]}
           :repl {:main-opts ["-r"]}}}
